@page
@model Snackis_Attempt_1.Pages.RoleAdmin.CategoryAdminModel
@{
}

<a asp-page="./Index">Tillbaka</a>
<form method="post">

	<label asp-for="CreateCategory.Name" class="control-label"></label>
	<input asp-for="CreateCategory.Name" class="form-control" />

	<input type="submit" value="slutför"/>

</form>


@if (Model.Categories.Count != 0)
{

	if (Model.CategoryId == 0)
	{
		@foreach (var category in Model.Categories)
		{
			<p>@category.Name - Skapare: @category.User.NickName - Skapar Id: @category.UserId  <a asp-route-categoryId="@category.Id">Ändra</a> <a asp-route-deleteId="@category.Id">  Ta bort</a></p>
		}
	}
	else
		{
			<p>Ändra namn på @Model.SelectedCategory.Name?</p>
			<form method="post">
				<input asp-for="SelectedCategory.Name" />
				<input type="submit" value="Ändra namn" />
			</form>
			
		}
}
else if(Model.Categories.Count == 0)
{
	<h4>Här var det tomt! Prova att lägga till en kategori!</h4>
}